<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xml">

    <import resource="classpath:spring-dao.xml"/>

    <bean id="driverService" class="com.sphincs.service.DriverServiceImpl">
        <property name="driverDao" ref="driverDao"/>
        <property name="tripDao" ref="tripDao"/>
    </bean>

    <bean id="tripService" class="com.sphincs.service.TripServiceImpl">
        <property name="tripDao" ref="tripDao"/>
    </bean>


</beans>